$body-bg: #000;
$body-color: white;

@import "node_modules/bootstrap/scss/bootstrap";

body {
    .d-flex {
        form {
            .first-element label{
                background-color: #442;
            }
        }
    }
}